body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(
    135deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4);
    text-align:center;
    color:white;
}

h1{
    font-size:60px;
    margin-top:50px;
}

.note{
    width:70%;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
}

.gallery img{
    width:250px;
    border-radius:20px;
    margin:10px;
}